.video-player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(15rem, 70vw, 60rem);
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: #fff;
    background-color: #000;

    .video-container {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100%;
        width: 100%;

        video {
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    .controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: clamp(0rem, 1vw, 0.5rem) 0;
        background-image: linear-gradient(transparent, #000);
        // opacity: 0;
        transition: opacity 300ms ease-out;
        z-index: 15;

        &:hover {
            opacity: 1;
        }

        &-progress-bar-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: clamp(1rem, 3.5vw, 3rem);

            .progress-bar {
                width: calc(100% - 2rem);
                height: 100%;

                &:hover .progress-tooltip {
                    opacity: 1;
                }

                .progress-line {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    &-background,
                    &-buffer,
                    &-current,
                    &-seek {
                        position: absolute;
                        width: 100%;
                        height: 10%;
                        border-radius: 50px;
                    }

                    &-background {
                        background-color: #858585;
                    }

                    &-buffer {
                        background-color: #6b0400;
                        transition: width 200ms ease-out;
                    }

                    &-current {
                        background-color: #cd131c;
                        position: relative;
                        display: flex;
                        align-items: center;
                    }

                    &-current-thumb {
                        position: absolute;
                        right: calc(0px - clamp(1rem, 1.5vw, 1.5rem) / 2);
                        width: clamp(1rem, 1.5vw, 1.5rem);
                        height: clamp(1rem, 1.5vw, 1.5rem);
                        border-radius: 50px;
                        background-color: #cd131c;

                        &:hover {
                            transform: scale(1.2 5);
                            transition: transform 200ms ease-out;
                        }
                    }

                    &-seek {
                        cursor: pointer;
                        height: 50%;
                        opacity: 0;
                    }
                }

                .progress-tooltip {
                    position: absolute;
                    bottom: calc(clamp(1rem, 3.5vw, 3rem) + 2rem);
                    padding: 0.5rem 0.75rem;
                    background-color: rgba(0, 0, 0, 0.8);
                    border-radius: 5px;
                    font-size: clamp(0.75rem, 1.5vw, 1rem);
                    font-weight: 700;
                    pointer-events: none;
                    opacity: 0;
                    transform: translateX(-50%);
                    transition: opacity 200ms ease-out;
                    z-index: 100;
                }
            }
        }

        &-buttons-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 2rem;
            width: 100%;

            > div {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;

                button {
                    margin: 0 clamp(0rem, 1vw, 0.5rem);
                }
            }

            .left-controls {
                padding-left: 1rem;
                justify-content: flex-start;
                align-items: center;

                .volume {
                    position: relative;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    height: clamp(1rem, 3.5vw, 3rem);

                    // &-line {
                    //     display: flex;
                    //     align-items: center;
                    //     width: clamp(5rem, 5vw, 15rem);
                    //     height: 100%;
                    //     margin: 0 clamp(0rem, 1vw, 0.5rem);
                    //     transform: scaleX(0);
                    //     transform-origin: left;
                    //     transition: transform 200ms ease-out;

                    //     &-background,
                    //     &-current,
                    //     &-seek {
                    //         position: absolute;
                    //         width: inherit;
                    //         height: 10%;
                    //         border-radius: 50px;
                    //     }

                    //     &-background {
                    //         background-color: #858585;
                    //     }

                    //     &-current {
                    //         background-color: #cd131c;
                    //         display: flex;
                    //         align-items: center;
                    //     }

                    //     &-seek {
                    //         cursor: pointer;
                    //         opacity: 0;
                    //     }

                    //     &-current-thumb {
                    //         opacity: 0;
                    //         position: absolute;
                    //         left: 0%;
                    //         width: clamp(1rem, 1.5vw, 2rem);
                    //         height: clamp(1rem, 1.5vw, 2rem);
                    //         border-radius: 50px;
                    //         background-color: #cd131c;
                    //         transform: opacity 200ms ease-out;
                    //     }
                    // }

                    // &:hover {
                    //     .volume-line {
                    //         transform: scaleX(1);

                    //         &-current-thumb {
                    //             opacity: 1;
                    //         }
                    //     }
                    // }
                }

                .time {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-size: clamp(0.75rem, 1.5vw, 1rem);
                    margin: 0 clamp(0rem, 1vw, 0.5rem);
                    width: 100%;
                    height: 100%;
                }
            }

            .right-controls {
                padding-right: 1rem;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

.vp-time {
    width: clamp(10rem, 20%, 20rem);
    text-align: center;
}

.volume-slider-container {
    height: clamp(5rem, 5vw, 15rem);
    width: clamp(1rem, 3.5vw, 3rem);
    overflow: hidden;
    color: transparent;
}
